mp2/www/respons.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="forfatter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="forfatter" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="forfatterID"/>
              <xs:element type="xs:string" name="fornavn"/>
              <xs:element type="xs:string" name="etternavn"/>
              <xs:element type="xs:string" name="nasjonalitet"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="bok">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bok" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="bokID"/>
              <xs:element type="xs:string" name="tittel"/>
              <xs:element type="xs:byte" name="forfatterID"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>